src/bin
src/obj

Makefile
CMakeFiles/*
cmake_install.cmake
CMAkeCache.txt

src/*/CMakeFiles/*.*/C.includecache
src/*/CMakeFiles/*.*/DependInfo.cmake
src/*/CMakeFiles/*.*/build.make
src/*/CMakeFiles/*.*/cmake_clean.cmake
src/*/CMakeFiles/*.*/cmake_clean_target.cmake
src/*/CMakeFiles/*.*/depend.internal
src/*/CMakeFiles/*.*/depend.make
src/*/CMakeFiles/*.*/flags.make
src/*/CMakeFiles/*.*/link.txt
src/*/CMakeFiles/*.*/progress.make
src/*/CMakeFiles/*.*/*.c.o
src/*/lib*.a

CMakeFiles/*/CMakeCCompiler.cmake
CMakeFiles/*/CMakeCXXCompiler.cmake
CMakeFiles/*/CMakeDetermineCompilerABI_C.bin
CMakeFiles/*/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/*/CMakeSystem.cmake
CMakeFiles/*/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/*/CompilerIdC/a.out
CMakeFiles/*/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/*/CompilerIdCXX/a.out
CMakeFiles/bin/*/DependInfo.cmake
CMakeFiles/bin/*/build.make
CMakeFiles/bin/*/cmake_clean.cmake
CMakeFiles/bin/*/flags.make
CMakeFiles/bin/*/link.txt
CMakeFiles/bin/*/progress.make

src/*/CMakeFiles/CMakeDirectoryInformation.cmake
src/*/CMakeFiles/progress.marks
src/*/Makefile
src/*/cmake_install.cmake